//- module
.section.section-contribute.bg-light.text-dark: .inner
  .text-center: h2 一起來填坑！
  p 
    |基於g0v專案開源及協作的原則，本團隊歡迎大家來參與開發及測試。若你有任何建議，也可透過
    a(href='https://discuss.grants.g0v.tw/t/topic/723/6') 回饋頁面
    |提供資訊

  br
  .text-center
    a.btn.btn-primary.btn-lg.mr-2(href="https://github.com/twsr") 源碼庫 #[i.fa.fa-github]
 

