//- module
.section.section-footer.bg-dark.text-light: .inner
  .row
    .col-8
      .row
        .col
          label 本專案

          .item: a(href="https://grants.g0v.tw/projects/5a646055900e86001bf9f526") 原始提案
          .item: a(href="https://github.com/TWSR ") 源碼庫
          //-.item: a(href="#") 社群專頁
          .item: a 聯絡窗口
          .p 
            |  Email: twsr2018g0v@gmail.com
            |  g0v slack #twsr2018g0v
        .col
          label 注意事項
          .item: a(href="module/termsofuse.html") 使用條款
          .item: a(href="module/privacy.html") 隱私權政策
          .item: p 成果授權 Data: CC BY 4.0 & Source Code: MIT.

    .col-4.text-center
      img(src="img/g0v-bg-dark.svg",style="width:100px")
      div powered by g0v

