//- module
.section.section-how.bg-whitedanger: .inner.text-center


  h2 提供的選項有哪些?
  p 專案成果將以開放資料方式提供，期許未來更多發想與響應。

.section.bg-danger.text-light: .inner.text-center

  h2 要怎麼開始呢
  p 可與本團隊聯繫，參與社群Beta測試。
  br
  .btn.btn-light.btn-lg Work in Progress

