//- module
.jumbotron.text-center
    h1.mb-2 以科技改善公路駕駛體驗
    div(style="border-bottom:1px solid rgba(255,255,255,0.3);margin:20px")
    p 透過分析處理三軸感測器的資料，偵測行駛道路的不平坦情況，並將成果分享公路機關進行改善。
    br
    .row
        .col-3.offset-9
            a.btn.btn-danger.btn-lg.mt-2(style = "width:100%;", href="https://collector.twsr.xyz") 資料收集頁面
    .row
        .col-3.offset-9
            a.btn.btn-danger.btn-lg.mt-2(style = "width:100%;", href="./manual1.html") 服務操作說明
    .row
        .col-3.offset-9
            a.btn.btn-danger.btn-lg.mt-2(style = "width:100%;", href="http://gmap.twsr.xyz") 目前成果
    //- a.btn.btn-danger.btn-lg.mr-4(style="width:280px;",href="./module/manual.html") 公測參與說明文件    
    
    
    

