//- module
.jumbotron.text-center
    h1.mb-2 以科技改善公路駕駛體驗
    div(style="border-bottom:1px solid rgba(255,255,255,0.3);margin:20px")
    p 透過分析處理三軸感測器的資料，偵測行駛道路的不平坦情況，並將成果分享公路機關進行改善。
    br
    a.btn.btn-danger.btn-lg.mr-4(style="width:280px",href="https://collector.twsr.xzy") 第二階段公測
    a.btn.btn-danger.btn-lg.mr-4(style="width:280px;",href="./manual1.html") 服務操作說明
    p
    a.btn.btn-danger.btn-lg.mr-4(style="width:280px;",href="./module/manual.html") 公測參與說明文件    
    a.btn.btn-danger.btn-lg.mr-4(style="width:280px;",href="http://gmap.twsr.xyz") 目前成果
    
    

