//- module
.section.section-media.bg-warning.text-dark: .inner
  .text-center: h2 媒體報導
  .text-center
    a(href="https://udn.com/news/story/7266/3010031")  
      img(src="img/media/udn.png",style="height:60px;margin:20px;")
