.section.bg-success.section-news: .inner
    .container-fluid.bg-success.text-center
        .bg-light.mb-2(style="width:100px;margin:0 auto;") 最新消息
        .card
            .card-body.bg-light
                .ul.text-left
                    .li 2018.05.14 oooooo
                    .li 2018.05.10 xxxxxx




