.section.bg-success.section-news: .inner
    .container-fluid.bg-success.text-center
        h2.bg-light.mb-2.text-center(style="width:auto;margin:0px 250px 0 250px;") 最新消息
        .card
            .card-body.bg-light
                p
                    ul.text-left(style="list-style-type:none;")
                        li
                            |2018.07.07 g0v期中報告 & 平台正式開放
                        li
                            |2018.05.25 開放第一次公測 & Landing Page 開放
                        li
                            |2018.04.09 本專案成員與g0v團隊首次線上會議
                        li
                            |2018.04.03 聯合報願景工程記者專訪       
                        li
                            |2018.03.17 受邀參與g0v 2017秋季獎助金期末發表
                        li
                            |2018.03.03 台灣路更平團隊受邀參與g0v 春季發表
                        li
                            |2018.03.02 台灣路更平獲選g0v 2018公民科技獎助金補助  




