doctype html
html
  head
    meta(property="og:locale",content="zh_TW")
    meta(property="og:title",content="獎助金專案樣板")
    meta(property="og:type",content="article")
    meta(property="og:url",content="https://g0v.github.io/grants-landing-template")
    meta(property="og:image",content="https://g0v.github.io/grants-landing-template/img/thumbnail.jpg")
    meta(property="og:image:type",content="image/jpg")
    meta(property="og:image:width",content="1084")
    meta(property="og:image:height",content="631")
    meta(property="og:description",content="獎助金專案專用的一頁式專案說明樣板")
    meta(property="article:author",content="zbryikt")
    meta(property="article:section",content="Taiwan")
    meta(charset="utf-8")
    link(rel="stylesheet",type="text/css",
    href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css")
    link(rel="stylesheet",href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css")
    link(href='//fonts.googleapis.com/css?family=Asap:400',rel='stylesheet',type='text/css')
    script(src="https://code.jquery.com/jquery-3.2.1.min.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js")


  body
    include nav.jade
    .container(style="font: 14px Lucida Grande, Helvetica, Arial, sans-serif;")

        h2.mt-5.mb-3  歡迎您光臨「台灣路更平網站」（以下簡稱本網站）

        p.mb-3 為了讓您能夠安心的使用本網站的各項服務與資訊，特此向您說明本網站的網站使用條款，以保障您的權益，請您詳閱下列內容

        h3.mb-3 一、網站合法授權使用：


        p.mb-3 當您進入並使用本網站時，即表示您已同意有關為保障合法或其他目的之系統監視執行；任何非經合法授權使用本網站之行為均可能使您遭致刑事起訴或罰款制裁。


        h3.mb-3 二、用戶同意接受本「使用條款」：


        p.mb-3 當您進入並使用本網站，即視同您已同意遵守本「使用條款」與其他有關著作權、版權、商標專用權、網路智慧財產權、隱私權等之法律規定。


        h3.mb-3 三、本網站保留權利：


        p 本網站 不定時增刪修改網頁資訊內容，或變更網頁服務功能，無需事先或另行通知用戶；亦得不定時修訂本「使用條款」，並於網站張貼時隨即生效，無需事先或另行通知用戶或對用戶負擔任何責任。

        p 用戶須遵守之規則：


        p 電腦系統與網路通訊相關資源，包括所有電腦設備、週邊系統、伺服器、所有連接之網路、及資料、資訊、報告、相片、圖像、圖表、程式、與相關之儲存媒體如磁帶、磁碟、硬碟、光碟、記憶卡等在內之網站內容之著作權及一切專屬權利均屬於 本網站 的財產；用戶進入並使用系統及資訊時，應遵守以下規定：

        p.mb-3 

            ul(style='list-style-type:decimal;')

                li 用戶不得利用 本網站 電腦系統、網路通訊相關資源、或提供之服務從事違法之行為；不得藉由本中心網站進行任何恐嚇、誹謗、騷擾、冒犯他人之活動，或其他任何犯罪行為

                li 本網站 存用、顯示之資料與內容，包括企業標誌、商標、服務標章等一切智慧財產權屬於 本網站 與 相關開發商 的財產；用戶未經授權不得企圖使用、存取、或使用儲存於 本網站 系統之資料或程式；亦不得傳播、複製、修改、發佈或傳送

                li 用戶不得進行任何不利於 本網站、可能對網路正常傳輸造成不利影響的行為

                li 用戶對 本網站 或其中提供之資訊不具備任何權利；用戶不得為其他任何目的，以其他任何方式使用本中心網站所提供之資訊或服務

                li 用戶不得向 本網站 輸入或上載任何含有病毒、或其他意圖損害、干擾、降低本中心之系統或網路效率或相關之服務品質之電腦程式路徑


        h3.mb-3 四、外部網站之連接：


        p.mb-3 本網站可能提供其他網站連結之情形，用戶承認並同意本中心對該等第三方網站之內容、正確性、或有效性，不負任何責任。


        h3.mb-3 五、違約賠償：


        p.mb-3 用戶違反本使用條款或其他相關之著作權法、民法、刑法法律規定，以致對本網站或其他任何第三者造成損失，用戶同意負擔由此造成之損害賠償責任。

        h3.mb-3 六、法律管轄：


        p.mb-3 本「使用條款」適用中華民國法律。


