//- module
.section.section-traction.bg-danger.text-light: .inner.text-center
  h2 目前成果 (不定期更新)
  
  p.text-left 3月工作
    ul.text-left
      li
        | Project system architecture design
      li
        | Hardware equipments procurement including Respberry Pi & Andriod Phone for web-app development.
      li
        | Cloud environment setup for data transforming
      li
        | Project schedule refined based on g0v requirement
  p.text-left 4月預期工作(及進度回報)
    ul.text-left
      li
        | Web-based app development and alfa test
        | (目前進度：Alfa版完成，可收集原始三軸加速器的紀錄資料並回傳伺服器。)
      li
        | Algorithm development - Road Flatness Relative Ranking Design
        | （目前進度：將回傳之資料進行統計及分類，並透過標準差過大的數值視為道路不平坦之特徵。）
      li
        | Field data collection for verification of algorithm design
        | （目前進度：已陸續收集近百公里數據，含高速公路，省道及一般市區道路並使用於初版道路不平坦指標開發;內部資料分析展示平台初版開發完成）
      li
        | Identify and interview with the primary users such as government agency, college and private company
        | （目前進度：已連繫大學教授及公路機關進行初步意象溝通）
  p.text-left 5月預期工作
    ul.text-left
      li
        | Fixmystreet 平台環境設計導入
      li
        | 不同手機平台之三軸加速器的現地資料採集
      li
        | 道路不平坦演算法優化及驗證
      li
        | 外部顧問：與大學教授訪談, 與公路機關洽談
      
  .sep(style="border-bottom:1px solid rgba(255,255,255,0.6);margin:40px auto;width:150px")
  .row
    .col #[.huge 299.142KM] 已蒐集道路長度
    .col #[.huge 13185] 已蒐集資料筆數
    .col #[.huge 20] 參與回報的裝置數
 

