//- module
.section.section-traction.bg-danger.text-light: .inner.text-center
  h2 目前成果 (不定期更新)
  
  p.text-left 3月工作
    ul.text-left
      li
        | Project system architecture design
      li
        | Hardware equipments procurement including Respberry Pi & Andriod Phone for web-app development.
      li
        | Cloud environment setup for data transforming
      li
        | Project schedule refined based on g0v requirement
  p.text-left 4月預期工作(及進度回報)
    ul.text-left
      li
        | Web-based app development and alfa test
        | (目前進度：Alfa版完成，可收集原始三軸加速器的紀錄資料並回傳伺服器。)
      li
        | Algorithm development - Road Flatness Relative Ranking Design
        | （目前進度：將回傳之資料進行統計及分類，並透過標準差過大的數值視為道路不平坦之特徵。）
      li
        | Field data collection for verification of algorithm design
        | （目前進度：已陸續收集近百公里數據，含高速公路，省道及一般市區道路並使用於初版道路不平坦指標開發;內部資料分析展示平台初版開發完成）
      li
        | Identify and interview with the primary users such as government agency, college and private company
        | （目前進度：已連繫大學教授及公路機關進行初步意象溝通）
  p.text-left 5月預期工作(及進度回報)
    ul.text-left
      li
        | Fixmystreet 平台環境設計導入
        | (平台初版完成）
      li
        | 不同手機平台之三軸加速器的現地資料採集
        | (iOS/Andriod 版 收集Web-App公測版完成，已蒐集500+km)
      li
        | 道路不平坦演算法優化及驗證
        | (以一定時間內的累積標準差為基礎，設計偵測模型。持續優化中）
      li
        | 外部顧問：與大學教授訪談, 與公路機關洽談
        | (訪談完成並提供相關資訊給訪談單位參考及內部簡報用）
      li
        | Web-based App 的使用者UI/UX
        | (初版完成，加入使用者條款同意及蒐集資料的即時顯示功能） 
  p.text-left 6月預期工作(及進度回報)
    ul.text-left
      li
        | 開放第一次社群公測並蒐集反饋進行改善
        | （於6/3~6/11開放親友團公測，累積收集資料達500+km)
      li
        | Rasperberry Pi 硬體開發
        | （硬體與韌體初版整合完成，後續將軟體及回傳功能將於七月完成）
      li
        | 大同區實地資料採集開始
        | （於六月初開始採集並針對顯著訊號的位置進行實證拍照）
      li
        | 期中報告準備 及 期中前g0v訪談
        | （於6/15與g0v團隊完成期中前訪談，並準備7/7簡報資料）
  p.text-left 7月預期工作
    ul.text-left
      li
        | 完成g0v大松期中報告
      li
        | Rasperberry Pi 資料收集跟Web-App收集資料之驗證比較
      li
        | 以現有具體成果洽談外部合作 1)派車平台 2)公家機關
  .sep(style="border-bottom:1px solid rgba(255,255,255,0.6);margin:40px auto;width:150px")
  .row
    .col #[.huge 1401KM] 已蒐集道路長度
    .col #[.huge 17320] 已蒐集資料筆數
    .col #[.huge 20] 參與回報的裝置數
 

