//- module
.section.bg-warning.section-what: .inner
  .text-center: h2 這個專案是什麼？
  p 本專案透過三軸感測器記錄用路人車輛的晃動程度為體感數據，並經由社群參與及統計分析，依此推估行駛道路的（不）平坦程度，以供政府單位作為參考，並期待道路改善提升用路人觀感。
  


  .row.mt-5
    .col-md
      .text-center.mb-3: img(src="img/icon/gps.png",style="height:100px;")
      .text-center: h5 簡單採集回報
      p 透過手機App背景下運作，蒐集道路不平坦資訊。
    .col-md
      .text-center.mb-3: img(src="img/icon/server.png",style="height:100px;")
      .text-center: h5 雲端分析處理
      p 將資料回傳伺服器後，以雲端方式處理。
    .col-md
      .text-center.mb-3: img(src="img/icon/map.svg",style="height:100px;")
      .text-center: h5 成果展示與共享
      p 以ＧＩＳ圖台方式展示成果並透過開放平台共享。

