//- module
.section.section-why.bg-light: .inner
  .text-center: h2 為什麼要做這個專案？
  p 看到每年政府花費的在道路修補上的費用與自身道路駕駛感受不太相符，希望能找一個方式，讓主管單位能証明修路預算花在該花的地方，另一方面則是讓用路人抱怨無感時有所佐証。
  
  br
  .row
    .col: .media-preview(style="background:url(img/twsr_cover.png) center center no-repeat #444;background-size:cover")
    .col
      h4 就像是這樣
      .sep.light-dark.gap-sm
      p 「路平專案」為政府近年花費眾多預算之重點施政項目，然民眾無感仍時有所聞！你也這樣覺得嗎？！
      

